@import "../../Utilitarios/variaveis.css";

/*Esse documento irá sobrescrever os tamanhos/relações já estabelecidas, ou seja, os tamanhos e resoluções para tela de computador*/
/*@media screen -> apenas o que vier da tela*/

/*Tamanho padrão para tablets*/
@media screen and (max-width: 768px) {
  /*.header-darkblue ul {
    display: none;
  }*/

  header .header-darkblue {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6;
  }

  #logotipo {
    left: 25%;
    z-index: 7;
    transition: 1s;
  }

  header.open-menu #logotipo {
    transform: rotate(360deg);
  }

  #news {
    justify-items: center;
    text-align: center;
  }
  #news h2 {
    text-align: center;
    font-size: 32px;
  }

  #news hr {
    border-width: 4px;
  }

  #news h3 {
    top: 5px;
    font-size: 18px;
  }

  #btn-list,
  #btn-search {
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 5px;
    background: none;
    border: none;
  }

  #btn-list {
    left: 0;
  }

  #btn-search {
    right: 0;
  }
}

.owl-carousel .owl-wrapper-outer {
  margin-left: 15px;
}

.row-thumbnail {
  text-align: center;
}

.owl-carousel .owl-item img {
  width: 288px;
  height: 153px;
  justify-self: center;
}

#estatisticas {
  height: inherit;
}
#estatisticas hr {
  border-width: 4px;
}

.hidden-xs {
  display: block;
}

/*Tamanho padrão para smatphones*/
@media screen and (max-width: 480px) {
  .header-darkblue ul,
  #menu {
    display: none;
  }

  header .header-darkblue {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6;
  }

  #logotipo {
    left: 25%;
    z-index: 10;
    transition: 1s;
  }

  header.open-menu #logotipo {
    transform: rotate(360deg);
  }

  #news {
    justify-items: center;
    text-align: center;
  }

  #news h2 {
    text-align: center;
    font-size: 32px;
  }

  #news hr {
    border-width: 4px;
  }

  #news h3 {
    top: 5px;
    font-size: 18px;
  }

  #btn-list,
  #btn-search {
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 5px;
    background: none;
    border: none;
    display: block;
  }

  #btn-list {
    left: 0;
  }

  #btn-search {
    right: 0;
  }
}

.owl-carousel .owl-wrapper-outer {
  margin-left: 15px;
}

.row-thumbnail {
  text-align: center;
}

.owl-carousel .owl-item img {
  width: 288px;
  height: 153px;
  justify-self: center;
}

#estatisticas {
  height: inherit;
}

#estatisticas hr {
  border-width: 4px;
}

footer {
  margin-top: 60px;
}

/*.copyrigth-mobile {
  display: none;
}

.copyrigth-mobile p {
  font-size: 10px;
  line-height: 0px;
}

.hidden-xs {
  display: none;
}*/

footer .row p {
  margin-top: 5px;
  text-align: center;
  line-height: 10px;
}

footer .row p:first-child {
  margin-top: 10px;
}

footer .text-claro {
  margin-right: 10px;
}

footer .row {
  margin: 0;
}

header #menu-mobile {
  position: fixed;
  top: 40px;
  background-color: #fff;
  width: 80%;
  height: 100%;
  left: -80%;
  transition: 1s;
  z-index: 5;
}

header.open-menu #menu-mobile {
  left: 0;
}

header.open-menu #menu-mobile-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 4;
}

header.open-menu #logotipo {
  position: fixed;
  top: 70px;
  height: 76px;
  width: 140px;
  left: calc(40%-70px);
}

header.open-menu #menu-mobile ul {
  margin: 20px;
  margin-top: 150px;
  padding: 5px;
  list-style-type: none;
}

header.open-menu #menu-mobile ul marker {
  display: none;
}

header.open-menu #menu-mobile li {
  text-align: center;
  border-top: blue 1px solid;
}

header.open-menu #menu-mobile li:last-child {
  text-align: center;
  border-bottom: blue 1px solid;
}

header.open-menu #menu-mobile li a {
  color: var(--cor-header-top);
  font-size: 16px;
  font-weight: bold;
  padding: 18px;
  display: block;
}

header.open-menu .bar-close {
  position: absolute;
  bottom: 40px;
  background-color: var(--cor-header-top);
  height: 50px;
  width: 100%;
  position: relative;
  top: 358px;
}

header.open-menu .bar-close .btn-close {
  border: none;
  background: none;
  color: #fff;
  font-size: 22px;
  margin: 5px;
}
