@import "../../Utilitarios/variaveis.css";

/*Esse documento irá sobrescrever os tamanhos/relações já estabelecidas, ou seja, os tamanhos e resoluções para tela de computador*/
/*@media screen -> apenas o que vier da tela*/

/*Tamanho padrão para tablets*/
@media screen and (max-width: 768px) {
  .header-darkblue ul {
    display: none;
  }
}

/*Tamanho padrão para smatphones*/
@media screen and (max-width: 480px) {
  .header-darkblue ul,
  #menu {
    display: none;
  }

  #logotipo {
    left: 25%;
  }
  #news {
    justify-items: center;
    text-align: center;
  }
  #news h2 {
    text-align: center;
    font-size: 32px;
  }

  #news hr {
    border-width: 4px;
  }

  #btn-list,
  #btn-search {
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 5px;
    background: none;
    border: none;
  }

  #btn-list {
    left: 0;
  }

  #btn-search {
    right: 0;
  }
}

#news h3 {
  top: 5px;
  font-size: 18px;
}

owl-carousel .owl-wrapper-outer {
  margin-left: 15px;
}

.row-thumbnail {
  text-align: center;
}

.owl-carousel .owl-item img {
  width: 80%;
  /*height: 70%;*/
  justify-self: center;
}

/*.owl-prev,
.owl-next {
  outline: none;
}
#btn-news-prev,
#btn-news-next {
  background: none;
  border: none;
  color: var(--cor-button);
  font-size: 48px;
  display: block;
  position: absolute;
  top: 130px;
}

#btn-news-prev {
  left: 5px;
}

#btn-news-next {
  right: 5px;
}*/

#estatisticas {
  height: inherit;
}
#estatisticas hr {
  border-width: 4px;
}
